<div>
  <img src="http://192.168.43.226:8999/++video?cameraNum=0" id="cam-lower-layer">
</div>
<div id="cam-top-layer"></div>
<div id="speech-ctl-layer">
  <input type="button" value="Start Record" id="start-record">
  <input type="button" value="Stop Record" id="stop-record">
</div>


<script src="/javascripts/binary.js"></script>
<script src="/javascripts/camvision.js"></script>
<script src="/javascripts/voicestreaming.js"></script>
