<div id="cam-top-layer"></div>
  <img id="video-layer">
  <!--<video autoplay></video>
<div id="speech-ctl-layer">
  <input type="button" value="fi-FI" id="tele-finnish">
  <input type="button" value="en-US" id="tele-english">
</div>-->
<div class="alert alert-danger fade show" role="alert" id="stream-alert">
  Streaming
</div>
<div class="alert alert-success" id="vision-gesture-success" role="alert">
    A gesture has been sent. Please wait a moment.
</div>
<div class="alert alert-danger" id="vision-gesture-fail"
role="alert">
    A gesture has failed.
</div>
<div class="vision-button-wrapper">
  {{#each buttons}}
      <div class="row">
        <!--<div class="alert alert-danger fade show" role="alert" id="gesture-alert">
        Performing a gesture. Please wait a moment.
      </div>-->
        <div class="column-5">
          <button type="button" class="vision-button-action btn btn-primary btn-sm"
          data-button-info= "{{@key}}">
          <img src="{{thumbnail}}" id="vision-image-button" class="vision-button-action-image"></img>
        </button>
        </div>
  {{/each}}

<!--End of second inner container-->
</div>

<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/javascripts/videostream.js"></script>
<script src="/javascripts/audio-npm.js"></script>
<script src="/javascripts/binary.js"></script>
<script src="/javascripts/camvision.js"></script>
<script src="/javascripts/voicestreaming.js"></script>
