<div>
  <img src="http://192.168.43.226:8999/++audio?cameraNum=0" id="cam-lower-layer">
</div>
<div id="cam-top-layer"></div>
<div id="speech-ctl-layer">
  <input type="button" value="Finnish" id="tele-finnish">
  <input type="button" value="English" id="tele-english">
  <div class="slider">
      <input type="range" min="0" max="0.5" step="0.01" value="0.5" id="volume-voice" />
      <!--<div class="slider-value" id="volume-value">0.5</div>-->
  </div>
  <div class="controls">
    <button type="btn btn-primary" id="play-voice">Stream</button>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.3/Pizzicato.js"></script>
<script src="/javascripts/binary.js"></script>
<script src="/javascripts/camvision.js"></script>
<script src="/javascripts/voicestreaming.js"></script>
