body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tp-button-action img {
  height: 100%;
  witdh: 100px;
}
.btn-lg {
  height: 150px;
  width: 100%;
  margin-top: 5px;
}
