body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tp-button-action {
  padding: 0;
}
.tp-button-action img {
  height: 100%;
  width: auto;
}
.btn-lg {
  height: 150px;
  width: 150px;
  margin-top: 5px;
}

#cam-lower-layer {
  background-color: black; /*mika tama on???*/
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#cam-top-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#speech-ctl-layer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

/*#tp-success {
  display:none;
}

#tp-fail {
  display:none;
}*/
