body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tp-button-action {
  padding: 0;
}
.tp-button-action img {
  height: 100%;
  width: auto;
}

.btn-lg {
  height: 150px;
  width: 150px;
  margin-top: 5px;
}

.btn-sm {
  height: 70px;
  width: 70px;
  margin-right: 60px;
}

.vision-button-wrapper {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: inline;
}

.vision-button-action {
  padding: 0;
}

.vision-button-action img {
  height: 100%;
  width: auto;
}

#cam-lower-layer {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#cam-top-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: auto;
}

#speech-ctl-layer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

#stream-alert {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  display: none;
}

#tp-success {
  top: -50px;
  right: 0;
  display: none;
}

#tp-fail {
  top: -50px;
  right: 0;
  display: none;
}

#vision-gesture-success {
  top: 675px;
  left: -25px;
  display: none;
  z-index: 3;
}

#vision-gesture-fail {
  bottom: 275px;
  left: -25px;
  display: none;
  z-index: 3;
}
/*
#gesture-alert {
  position: absolute;
  bottom: -20px;
  left: -15px;
  z-index: 3;
  display: inline;
  width: 550px;
  height: 100px;
}*/
